.navbar {
  height: 80px;
  width: 90%;
  margin: 140px auto 0 auto;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000f32; 
  z-index: 1000;
  transition: background-color 0.3s ease, height 0.3s ease, width 0.3s ease, margin 0.3s ease;
}

.navbar.scrolled {
  height: 80px;
  width: 100%;
  margin: 0;
  background-color: #000f32;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  margin-left: 30px;

}

.links {
  display: flex;
}

.links a {
  margin: 0 15px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.3s ease;
}

.links a:hover {
  color: #fff;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.left,
.middle,
.right {
  flex: 1;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 40px;
  margin-top: 0px;
}

.logo {
  width: 200px; /* Adjust the width according to your logo size */
  margin-right: 10px; /* Add spacing between logo and text */
}

.button-container {
  margin-right: 30px;
}

.button {
  height: 45px;
  width: 150px;
  padding: 3px;
  margin-top: auto;
  background-color: white;
  color: black;
  border: 2px solid black; 
  border-radius: 4px;
  border-color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: medium;
  padding: 15px;
  margin-right: 34px;
}

.button:hover {
  background-color: #000f32;
  color: white;
}


.separator {
  height: 40px;
  width: 3px;
  background-color: rgba(77, 83, 88, 0.7);
  margin:10px 10px;
}
